# set maximum BIP141 block weight
blockmaxweight=4000000

datadir=/bitcoinvault/blockchain

{{if .Env.BVAULTD_SERVER}}
server={{ .Env.BVAULTD_SERVER }}
{{end}}

{{if .Env.BVAULTD_TXINDEX}}
txindex={{ .Env.BVAULTD_TXINDEX }}
{{end}}

rpcport={{ default .Env.BVAULTD_RPC_PORT "8332" }}
rpcuser={{ default .Env.BVAULTD_RPC_USER "root" }}
rpcpassword={{ default .Env.BVAULTD_RPC_PASSWORD "rpc_password" }}

rpcallowip={{ default .Env.BVAULTD_RPC_ALLOW_IP_FIRST "127.0.0.0/24" }}
rpcallowip={{ default .Env.BVAULTD_RPC_ALLOW_IP_SECOND "10.0.0.0/8" }}
rpcbind=0.0.0.0

{{ if eq .Env.BVAULTD_ZMQ_ENABLED "1" }}
zmqpubrawblock=tcp://{{ default .Env.BVAULTD_ZMQ_LISTEN_HOST "0.0.0.0" }}:{{ default .Env.BVAULTD_ZMQ_LISTEN_PORT "8331" }}
zmqpubrawtx=tcp://{{ default .Env.BVAULTD_ZMQ_LISTEN_HOST "0.0.0.0" }}:{{ default .Env.BVAULTD_ZMQ_LISTEN_PORT "8331" }}
zmqpubhashtx=tcp://{{ default .Env.BVAULTD_ZMQ_LISTEN_HOST "0.0.0.0" }}:{{ default .Env.BVAULTD_ZMQ_LISTEN_PORT "8331" }}
zmqpubhashblock=tcp://{{ default .Env.BVAULTD_ZMQ_LISTEN_HOST "0.0.0.0" }}:{{ default .Env.BVAULTD_ZMQ_LISTEN_PORT "8331" }}
{{end}}

{{if .Env.BVAULTD_NET_BAN_SCORE}}
banscore={{ .Env.BVAULTD_NET_BAN_SCORE }}
{{end}}
{{if .Env.BVAULTD_NET_BAN_TIME}}
bantime={{ .Env.BVAULTD_NET_BAN_TIME }}
{{end}}

{{ if eq .Env.BVAULTD_TESTNET_ENABLED "1" }}
testnet=1

[test]
rpcallowip={{ default .Env.BVAULTD_RPC_ALLOW_IP_FIRST "127.0.0.0/24" }}
rpcallowip={{ default .Env.BVAULTD_RPC_ALLOW_IP_SECOND "10.0.0.0/8" }}
rpcbind=0.0.0.0
rpcport={{ default .Env.BVAULTD_RPC_PORT "8332" }}
rpcuser={{ default .Env.BVAULTD_RPC_USER "root" }}
rpcpassword={{ default .Env.BVAULTD_RPC_PASSWORD "rpc_password" }}
{{end}}
